body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url(header.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: aqua
}

hr {
    margin-top: 169px;
    max-width: 0px;
}      

.btn {
    border-radius: 80%;
    width: 20%;
    height: 20%;
}